/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	table {
		width: 100%;
		border-collapse: collapse;
	}

	th,
	td {
		text-align: left;
		padding: 8px;
		@apply border-current;
		border: 1px solid;
		width: 50%;
	}

	th {
		@apply bg-secondary-500;
		color: white;
	}

	tr:nth-child(even) {
		@apply bg-surface-200
	} 

	tr:hover {
		@apply bg-accent-100;
	}

.orden {
  color: magenta;
}
}
